---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About | Yui Nagano" description="自己紹介・活動概要">
  <main class="container" style="padding: 5px 0;">

    <h1 style="font-size:2rem; font-weight:700; margin-bottom:1.25rem;">About</h1>

    <section class="card">
      <h2>Profile</h2>
      <p>
        <strong>長野 由依 (Yui Nagano)</strong><br /><br />
        筑波大学 情報学群 情報メディア創成学類 B3<br />
      </p>
    </section>

    <section class=""card">
        <h2>Past</h2>
        <p>
            2017~2023 洗足学園中学高等学校75期生 <br />
            2021/1 第28回全日本高等学校選抜オーケストラ<br />
            2023/4~ 筑波大学 情報メディア創成学類 在学<br />
            2025/9~ 株式会社dele
        </p>
    </section>

    <section class="hobbies">
      <h2>Hobbies</h2>
      <ul>
        <li>旅行</li>
        <li>音楽(J-pop,K-pop,Hiphop)</li>
        <li>ダンス(Hiphop,Contemporary,Ballet)</li>
        <li>スノボ</li>
      </ul>
    </section>

    <section class="card">
      <h2>Interests</h2>
      <ul>
        <li>HCI,Interactive Programming</li>
        <li>Audio Visualize</li>
        <li>パフォーマンス × AI</li>
        <li>ダンス／舞台演出 × メディア表現</li>
      </ul>
    </section>

    <section class="card">
      <h2>Affiliations</h2>
      <ul>
        <li>
          筑波大学 宿舎祭実行委員　
          <a href="https://yadokarisai.com/" target="_blank" rel="noopener noreferrer">HP</a>
        </li>
        <li>
          Realjam (筑波大学ダンスサークル)　
          <a href="https://www.instagram.com/realjam.tkb/" target="_blank" rel="noopener noreferrer">Instagram</a>
        </li>
      </ul>
    </section>

  </main>
</BaseLayout>