---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Portfolio | Yui Nagano" description="自己紹介">
  <main class="container" style="padding: 10px 0;">
    <h1>Portfolio</h1>
    <h2>Infomation</h2>
    <strong>長野 由依(Yui Nagano)</strong><br /><br />
    筑波大学 情報学群情報メディア創成学類 B3

    <h2>Affiliations</h2>
    <ul>
      <li>筑波大学 宿舎祭実行委員</li>
      <li>Realjam(筑波大学ダンスサークル)</li>
    </ul>

    <h2>Accounts</h2>
    <ul>
      <li><a href="https://github.com/nako170148" target="_blank">GitHub</a></li>
    </ul>

    <h2>Contact</h2>
    <ul>yui.nako1205@gmail.com</ul>
  </main>
</BaseLayout>
